.home-container {
    display: flex;
    height: 100vh;
  }
  
  .left-container {
    flex: 1;
    padding: 20px;
  }
  
  .right-container img {
    max-width: 200%;
    filter: drop-shadow(10px 10px 20px rgba(182, 156, 9, 0.296));
  }
  
  .right-containerr img {
    max-width: 200%;
    filter: drop-shadow(10px 10px 20px rgba(9, 26, 182, 0.296));
  }
  
